* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  font-family: 'Mulish', sans-serif;
  font-size: 62.5%;
  --color-base-blue-100: hsl(195, 46%, 40%);
  --color-base-blue-200: hsl(195, 91%, 25%);
  --color-base-white: hsl(0, 0%, 100%);
  --color-base-background-white: hsl(0, 0%, 100%);
}

body {
  font-size: 1.6rem;
  background-color: var(--color-base-background-white); 
}


header {
  display: flex;
  align-items: center;
  gap: 2.8rem;
  font-weight: 700;
  background-color: var(--color-base-blue-200);
  padding: 1.2rem 2.8rem;
  
  --startY: -100%;
  animation: move .2s;
}

header form {
  flex: 1;
}

.input-wrapper label {
  width: 1px;
  height: 1px;
  overflow: hidden;
  position: absolute;
}

.input-wrapper input {
  width: 100%;
  padding: 1.2rem;
  background-color: var(--color-base-blue-100);
  
  border: 0;
  border-radius: .4rem;
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--color-base-white);
}

.input-wrapper input::placeholder {
  color: var(--color-base-white);
  opacity: 75%;
  font-family: 'Mulish', sans-serif;
}

.avatar {
  width: 4.2rem;
  height: 4.2rem;
  border-radius: 50%;  
}

main {
  width: min (43.4rem, 100%);
  margin: auto;
  display: flex;
  flex-direction: column;
  
}
.start {
  width: 100%;
  aspect-ratio: 16/9;
  object-fit: cover;
  border-radius: 0 0 5px 5px; 
}

.title {
  margin: 3.2rem 2.4rem 0;
}

h1 {
  font-size: 2.4rem;
  line-height: 3.6rem;
}

#action {
  margin-top: .8rem;
}

.page p {
  margin: 3.2rem 2.4rem 0;
  font-size: 1.6rem;
  line-height: 2.4rem;
  text-align: justify;
}

.sidebar {
  margin: 3.2rem 2.4rem 0;
  
}

.item {
  display: flex;
  gap: 1.6rem;
  align-items: center;
  margin-top: 3.2rem;
}

.item img {
  width: min(15.1rem, 100%);
  aspect-ratio: 16/9;
  object-fit: cover;
  border-radius: .5rem;
  transition: 300ms ease-out;
  display: block;
}

.item img:hover {
  filter: grayscale(1);
  transform: scale(1.1) rotate(-2deg);
}

.details h2 {
  font-size: 1.8rem;
}

.details p {
  font-size: 1.4rem;
}

footer {
  background-color: var(--color-base-blue-100);
  color: var(--color-base-white);
  text-align: center;
  margin-top: 4.0rem;
  padding: 1.6rem;

  --startY: 100%;
  animation: move .2s;
}


@keyframes move {
  from {
    transform: translateY(var(--startY));
  }
}

.item {
  --delay: .4s;
  animation: appear .4s var(--delay) backwards;
}

@keyframes appear {
  0% {
    opacity: 0;
    transform: scale(0.7);
  }

  50% {
    transform: scale(1.2);
  }
}

@media (min-width: 770px) {
  main {
    flex-direction: row;
    max-width: fit-content;
    gap: 3.4rem;
    align-items:flex-start;
    padding: 0 0 0 10rem;
    
  }

  .page {
    max-width: 80rem;
    
  }

  .page p {
    margin: 3.2rem 0 0;
  }

  .start {
    margin-top: 4rem;
    max-height: 40rem;
    border-radius: 5px;
  }

  .sidebar {
    max-width: 56rem;
  }

  .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 3.2rem 0 0;
  }
}